
.nav-container{
    background-color: #1d2f64;
    height: 465px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-container h1{
    color: #fff;
    font-size: 4.2rem;
    max-width: 50%;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}

.nav-container p{
    color: #fff;
    font-weight: 500;
    max-width: 52%;
    text-align: center;
}

.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    top: 128px;
}

.navbar a{
    text-decoration: none; 
    background-color: #3D69F8;
    padding: 20px;
    border-radius: 30px;
     transition: .4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.navbar a > p{
    color: #fff;
    font-size: .9rem;
    text-align: center;
    max-width: 100%;
   
}


.navbar a:hover{
  background-color: #819efa;
  text-shadow: rgba(0, 0, 0, 0);
    
}

