
.section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    width: 100%;
    padding-top: 10rem ;
}

.right{
    width: 80%;
    padding-left: 6rem;
}
.right h2{
    font-size: 2rem;
    text-align: justify;
    font-weight:600;
    padding-bottom: 50px;
}
.right button{
    width: 170px;
    background-color: #19304D;
    color: #fff;
    cursor: pointer;
    padding: 17px;
    border: none;
    border-radius: 30px;
    letter-spacing: 3px;
    opacity: .9;
    transition: .3s;
    margin-top: 1.2rem;
}

.right button:hover{
    opacity: 1;
    width: 190px;
    padding: 20px;
}

.right p{
    font-weight: 600;
    color: #767676;
}

.left{
    width: 100%;
}

.left img{
    max-width: 100%;
    width: 500px;
}

/* SECTIONS 2 */

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #003973, #3a3b8f);
    color: white;
    padding: 70px;
    border-radius: 0 300px 300px 0;
    width: 90%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    margin-top: 4rem;
  }

  .text {
    max-width: 40%;
  }
  
  .text h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .text p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .btn {
    padding: 15px 30px;
    background-color: #ff9f43;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #ff6f00;
  }

.circle-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  
  .circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .icon-container {
    position: absolute;
    font-size: 35px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

  }

  .icon-container:hover {
    transform: scale(1);
    filter: brightness(#fff);
  }
  
  /* Posições dos ícones ao longo do círculo */
  .position-1 { top: 10%; left: 50%; transform: translate(-50%, -50%); }
  .position-2 { top: 30%; left: 20%; transform: translate(-50%, -50%); }
  .position-3 { top: 50%; left: 10%; transform: translate(-50%, -50%); }
  .position-4 { top: 70%; left: 20%; transform: translate(-50%, -50%); }
  .position-5 { top: 90%; left: 50%; transform: translate(-50%, -50%); }
  .position-6 { top: 70%; left: 80%; transform: translate(-50%, -50%); }
  .position-7 { top: 50%; left: 90%; transform: translate(-50%, -50%); }
  .position-8 { top: 30%; left: 80%; transform: translate(-50%, -50%); }
  .position-9 { top: 50%; left: 50%; transform: translate(-50%, -50%); }
  .position-10 { top: 50%; left: 30%; transform: translate(-50%, -50%); }
  .position-11 { top: 50%; right: 30%; transform: translate(-50%, -50%); }
  