
.section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    width: 100%;
    padding-top: 10rem ;
}

.right{
    width: 80%;
    padding-left: 6rem;
}
.right h2{
    font-size: 2rem;
    text-align: justify;
    font-weight:600;
    padding-bottom: 50px;
}
.right button{
    width: 170px;
    background-color: #19304D;
    color: #fff;
    cursor: pointer;
    padding: 17px;
    border: none;
    border-radius: 30px;
    letter-spacing: 3px;
    opacity: .9;
    transition: .3s;
    margin-top: 1.2rem;
}

.right button:hover{
    opacity: 1;
    width: 190px;
    padding: 20px;
}

.right p{
    font-weight: 600;
    color: #767676;
}

.left{
    width: 100%;
}

.left img{
    max-width: 100%;
    width: 500px;
}