
.section-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.section-1 h2{
    font-size: 2rem;
    text-align: justify;
    font-size: 100;
}

.section-1 button{
    width: 170px;
    background-color: #19304D;
    color: #fff;
    cursor: pointer;
    padding: 17px;
    border: none;
    border-radius: 30px;
    letter-spacing: 3px;
    opacity: .9;
    transition: .3s;
}

.section-1 button:hover{
    opacity: 1;
    width: 190px;
    padding: 20px;
}